



$mostly_pure_blue: #0099FF;

$light_grey: #DFDCE5;
$light_grey_hover: #d7d4dd;

$dark_green: #507700;
$dark_green_hover: #446600;

$soft_brown: #DBB04A;
$soft_brown_hover: #c59d40;

$dark_moderate_green:#6DAC4F;
$dark_moderate_green_hover: #5d9443;

$soft_orange: #EE915F;
$soft_orange_hover: #df8859;

$strong_cyan: #00a4cc;
$strong_cyan_hover: #0288aa;

$strong_red: #C70000;
$strong_red_hover: #ac0202;

